$font-color: #342E37;
$blue: #3C91E6;
$orange: #FA824C;
$green: #85D838;
$bg-color: #FAFFFD;

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: $font-color;
    background: $bg-color;
}

#header-logo {
    width: 36px;
    margin-bottom: -10px;
    margin-right: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.center {
    justify-content: center;
}

.float-left {
    float: left;
}

.horizontal-flex {
    display: flex;
    align-items: center;
}

.chart {
    margin: 0 20px;
}

.content {
    text-align: center;
    padding-top: 5px;
    margin: 20px auto 40px;
}

.header button svg {
    color: #fff !important;
}

.jumbo {
    font-size: 56px;
}

.chart-data {
    width: 100%;
    text-align: center;
    display: flex;
    .average, .best {
        flex: 1;
    }
    margin-top: 20px;
}

.score-header {
  justify-content: center;
}

.score-row {
    display: block;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    .horizontal-flex {
      display: inherit;
    }
    .date {
        font-weight: bold;
        text-align: center;
        margin-right: 0;
        margin-left: 44px;
    }
    .row-info {
        justify-content: center;
        display: flex;
    }
    .edit-icon {
        display: inline-block;
        background-image: url('../images/pencil_light_24px.png');
        width: 24px;
        height: 24px;
        margin-top: 4px;
        margin-left: 20px;
        background-repeat: no-repeat;

        &:hover {
          background-image: url('../images/pencil_dark_24px.png');
          transition: all 450ms;
          cursor: pointer;
        }
    }
    .score {
        margin-top: 6px;
        margin-bottom: 6px;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .content {
      max-width: 1200px;
    }
    .jumbo {
        font-size: 80px;
    }
    .chart-container {
      display: flex;
      min-width: 0;
      .chart {
        flex: 3;
      }
      .chart-data {
        flex: 1;
        // max-width: 300px;
        // min-width: 175px;
        display: block;
        .best {
          margin-top: 20px;
        }
      }
    }
    .score-header {
      float: left;
      margin-left: 40px;
    }
    .score-row {
      font-size: 16pt;
      clear: both;
      display: flex;
      margin: 0px 20px;
      .edit-icon {
        position: relative;
        left: -150px;
      }
      .score-list {
        span {
          width: 100px;
        }
        margin-left: -50px;
      }
      .date {
        width: 90px;
      }
    }
}

@media (min-width: 1100px) {
    .jumbo {
        font-size: 110px;
        margin-bottom: 30px;
    }
}

/* Dialog styles */
.dialog-root {
  padding: 0 !important;
}

.dialog-root > div:first-child {
  height: 100%;
}

/* Used as wrapper */
.dialog-root > div:first-child > .dialog-content {
  transform: none !important;

  width: 100% !important;
  height: 100% !important;
  max-width: none !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Actual content */
.dialog-root > div:first-child > .dialog-content > div {
  width: 100%;
  max-width: 800px;
  max-height: 100%;

  display: flex;
  flex-direction: column;
}

.dialog-root > div:first-child > .dialog-content > div > .dialog-body {
  padding: 0 !important;
  border-top: solid #e0e0e0 1px;
  border-bottom: solid #e0e0e0 1px;
  display: flex;
}

.dialog-root > div:first-child > .dialog-content > div > .dialog-body > .dialog-scroll {
  padding: 0 16px 16px 16px;
  width: 100%;
  overflow: auto;
}
