$font-color: #342E37;
$blue: #3C91E6;
$orange: #FA824C;
$green: #85D838;
$bg-color: #FAFFFD;

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: $font-color;
    background: $bg-color;
}

#header-logo {
    width: 36px;
    margin-bottom: -10px;
    margin-right: 10px;
}

.jumbo {
    font-size: 110px;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.center {
    justify-content: center;
}

.horizontal-flex {
    display: flex;
    align-items: center;
}

.chart-data {
    width: 300px;
}

.chart {
    flex: 1;
}

.content {
    text-align: center;
    padding-top: 20px;
    width: 1200px;
    margin: 20px auto 40px;
}

.header button svg {
    color: #fff !important;
}

.score-row {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    span {
        display: inline-block;
        width: 100px;
        font-size: 16pt;

        &.date {
            font-weight: bold;
            text-align: right;
        }
    }
}

.edit-icon {
    display: inline-block;
    background-image: url('../images/pencil_light_24px.png');
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-left: 10px;
    background-repeat: no-repeat;

    &:hover {
      background-image: url('../images/pencil_dark_24px.png')
    }
}

.float-left {
    float: left;
}

@media (max-width: 1280px) {
    .content {
        width: 100%;
        padding-top: 0;
    }
    .chart {
        margin-top: 0;
        max-width: 900px;
        padding-left: 25px;
        padding-right: 35px;

        canvas {
            width: 100% !important;
        }
    }
    .horizontal-flex {
        display: inline-block;
        &.score-header {
            margin-left: 20px;
            margin-bottom: 20px;
            float: left;
            h1 {
                display: inline;
            }
        }
    }
    .jumbo {
        font-size: 80px;
    }
    .chart-data {
        width: 100%;
        text-align: center;
        display: flex;
        .average, .best {
            flex: 1;
        }
    }
    .data-label {
        margin-top: 20px;
    }
    .score-row {
        text-align: left;
        display: flex;
        float: left;
        width: 100%;
        .date {
            margin-right: 30px;
        }
        .edit-icon {
            margin-left: 20px;
        }
        .score {
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .row-info {
            display: flex;
        }
    }
}

@media (max-width: 768px) {
    .jumbo {
        font-size: 56px;
    }
    span.score {
        display: block;
        width: 100%;
        text-align: center;
    }
    .score-row {
        display: block;
        text-align: center;
        .edit-icon {
            margin-left: -50px;
        }
        .date {
            margin-right: 0;
        }
        .row-info {
            justify-content: center;
        }
    }
}